@import '../utils/utils';

.footer {
  position: relative;
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 120px;

  &::after {
    position: absolute;
    content: 'FRONT-END DEVELOPER';
    font-size: 80px;
    text-wrap: nowrap;
    font-weight: 800;
    color: #242731;
    -webkit-text-stroke: 1px #4d4d4d;

    @include on-desktop1440 {
      font-size: 100px;
    }
  }
}