.footer {
  display: flex;
  justify-content: center;
  overflow: hidden;
  height: 120px;

  &__text {
    display: flex;
    text-wrap: nowrap;
    font-size: 7.3vw;
    font-weight: 800;
    color: #242731;
    -webkit-text-stroke: 1px #4d4d4d;
  }
}